{:aliases
 {:test
  {:extra-deps
   {test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}
    babashka.pods
    {:git/url "https://github.com/babashka/babashka.pods"
     :sha "5a2f68c1eaf843c4b1a8ccf7980d25d9e959cb78"}
    org.clojure/core.async
    {:mvn/version "1.1.587"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}}}
